* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(
		123.58deg,
		#c41eff 30.05%,
		rgba(166, 0, 193, 0) 104.47%
	);
	font-family: "poppins" sans-serif;
}
.container {
	width: 40%;
	min-width: 450px;
	display: flex;
	height: 120px;
	justify-content: space-between;
	align-items: center;
}

.box {
	height: 100%;
	background-color: white;
	width: calc(100% / 4);
	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border-radius: 7px;
	box-shadow: 0 15px 30px rgb(0 0 0/30%);
	letter-spacing: 3px;
}

span {
	font-size: 60px;
	color: white;
	font-weight: bold;
}
.points {
}
